* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  width: 100%;
  height: 60px;
  background-color: white;
  position: sticky;
  top:0;
  z-index: 10px;
}
.nav .contianer {
  width: 1200px;
  margin: auto;
}
.nav .nav-link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 17px;

}
.nav .nav-link:hover {
  background-color: whitesmoke;
  border-radius: 6px;
}

.logo {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-family: "Sigmar", sans-serif;
  padding-left: 18rem;
}
.i-user {
  color: black;
  display: flex;
  padding-left: 30rem;
}
.i-shop {
  color: black;
  display: flex;
  padding-left: 5px;
}
.yunk-color{
    width: 100%;
    height: 450px;
}
.yunk-color .contianer{
    width: 1200px;
    margin: auto;
}
.yunk-color  .row{
    display: flex;
}
.col-3{
    width: 25%;
    padding: 10px;
    margin-top: 3rem;
}
.yunk-color  .card{
    width: 100%;
    height: 320px;
    /* background-color: blue; */
}
.yunk-color  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.yunk-color  .card-body{
  background-color: whitesmoke;
  height: 330px;
  padding-left: 15px;
}
.yunk-color .txt{
  font-family: "Fira Sans", sans-serif;
  padding-top: 2rem;
  font-size: 18px;
  
}
.yunk-color .txt-color{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 1rem;
    color: rgb(163, 161, 161);
    
}
.yunk-color .size{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 10px;
}
.yunk-color .btn-size{
    display: flex;
   
}
.yunk-color .btn{
    margin-top: 15px;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    margin-left: 20px;
}
.yunk-color .btn-buy{
  margin-top: 3rem;
  margin-left: 6.5rem;
  font-size: 18px;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
 
}
.other-color .contianer{
    width: 1200px;
    margin: auto;
}
.other-color{
    width: 100%;
    height: 300px;
    margin-top: 3rem;
}
.other-color .container{
  width: 1200px;
  margin: auto;
}
.other-color .title{
  font-family: Arial, Helvetica, sans-serif;
}
.other-color .row{
  display: flex;
}
.col-2{
  width: 16.66%;
  padding: 10px;
}
.other-color .card{
  width: 100%;
  height: 270px;
  position: relative;
}
.other-color img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.other-color .card-price{
  width: 100%;
  height: 85px;
  position: absolute;
}
.other-color .text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding-bottom: 7px;
}
.other-color .card-price{
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
}